<!-- <h1 class="text-center">Find your Flat ! </h1> -->
  <div class="banner text-center">

      <h1 id="title">BOOKBIBI</h1>
      <h2 id="baseline">Pour vous sentir comme chez bibi.</h2>

<%= render 'flats/search_form'%>
</div>