@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "flats";
@import "calendar";

$bg-color: #2E2E2E;
$font-clr: #d35400;
$font-title: 'Coustard', serif;
$font-text: 'Open Sans', sans-serif;

body {
  padding-top: 35px;
  background: image-url('brickwall.png');
  font-family: $font-text;
}

#welcome {
  color: $font-clr;
  padding-top: 15px;
}

.banner{
  background-image: image-url('home.png');
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  height: 1000px;

}

#title {
  font-size: 12rem;
  font-family: $font-title;
  font-weight: 900;
  color: $font-clr;
  text-shadow: 1px 1px 0.8px #292929;
    @media screen and (max-width: 768px)
  {
      font-size: 6rem;
  }
}

#baseline {
  font-family: 'Coustard', serif;
  color: $font-clr;
  font-size: 3rem;
  text-shadow: 1px 1px 0.8px #292929;
  @media screen and (max-width: 768px)
  {
      font-size: 2rem;
  }
}

#bibinav {
  // background: transparent;
  border-bottom: none;
  background-color: $bg-color;
}

#bibinav a {
  color: $font-clr;
}

#bibinav a:hover {
  color: white;
}

#fb-btn {
  padding-top: 60px;
}

#signup {
  margin-top: 40px;
  font-size: 16px;
}

#signup a {
  color: $font-clr;
}

h1 {
  font-family: $font-title;
  color: $font-clr;
  font-size: 4rem;
}

h2 {
  font-family: $font-title;
  color: $font-clr;
}

.btn-default {
  color: white;
  background-color: $font-clr;
  border-color: #cccccc;
}

//  {
//   color: white;
// }

.spacer {
  margin-top: 15px;
}

.dropdown-menu {
  background-color: $bg-color;
}

.dropdown-menu li a:hover {
  background-color: $font-clr;
}

input {
  color: black;
}

.index_flats {
  height: 450px;
  background-color: #ECECEC;
  border-radius:5px;
  padding: 20px;
  margin: 5px;
  @media screen and (max-width: 992px)
  {
    height: 400px;
  }
  @media screen and (max-width: 768px)
  {
    height: 300px;
  }
}

.index_flats p {
  font-size: 2rem;
}

.index_flats h3 a {
  font-size: 2.5rem;
  color: $bg-color;
}

.index_flats img {
  width:100%;
  height:100%;
}

#btnbtn {
  width:150px;
  height: 50px;
  font-size: 2rem;
  background-color: $font-clr;
  border: none;
}

.form-inline {
  color: $font-clr;
  font-size: 2rem;
  text-shadow: 1px 1px 0.8px #292929;
}

#bookform {
  font-size: 1.5rem;
  text-shadow: none;
}

img {
  @media screen and (max-width: 768px)
  {
      max-width: 100%;
  }
}

footer {
  margin-top: 30px;
  padding-top: 20px;
  background-color: $bg-color;
  color: $font-clr;
}

footer a {
  color: $font-clr;
}

footer a:hover {
  color: white
}

#video_background{
position: absolute;
bottom: 0px;
right: 0px;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
overflow: hidden;
}