@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "flats.css.scss";

body {
  padding-top: 55px;
}

#welcome {
  color: #777777;
  padding-top: 15px;
  padding-bottom: 15px;
}

.spacer {
  margin-top: 15px;
}

.calendar-available {
  background-color: #2ecc71;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  padding: 17px;
  font-weight: bold;
}

.calendar-booked {
  background-color: #BEBEBE;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  padding: 17px;
  font-weight: bold;
}

.calendar-header {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

