.calendar-available {
  background-color: #2ecc71;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  padding: 17px;
  font-weight: bold;
}

.calendar-booked {
  background-color: #BEBEBE;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  padding: 17px;
  font-weight: bold;
}

.calendar-header {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
