.calendar-available {
  background-color: #2ecc71;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  padding: 13px;
  font-weight: bold;
}

.calendar-booked {
  background-color: #BEBEBE;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  padding: 13px;
  font-weight: bold;
}

.calendar-header {
  font-weight: bold;
  font-size: 18px;
}

table {
  margin: auto;
  text-align: center;
}
