// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.flat_description {
  padding-left: 25px;
}

.manage_flat_image img {
  margin-top: 10px;
  margin-bottom: 10px;
}